:root {
    --success: #198754FF;
    --shadow: rgba(25, 135, 84, 0.2);
    --dark: #3f4449;
}

#content-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.app {
    min-height: 100vh;
    padding: 30px 0 0 0;
}

.card {
    border: 1px solid var(--success);
    border-radius: 4px !important;
}

.card:hover {
    cursor: default;
}

.card-header {
    background: white;
    /* font-family: font-weight-light; */
}

.card-footer {
    background: white;
    border-bottom-left-radius: 20px;
}

.card a {
    text-decoration: none;
}

.modal-content {
    border: 1px solid var(--success);
}

.scroll {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    transition: 3s;
}

::-webkit-scrollbar-track {
    background: rgba(211, 211, 211);
    border-radius: 10px;
    transition: 3s;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 8px;
    border: 1px solid var(--dark);
    transition: 3s;
}

table:hover {
    cursor: default;
}

.form-control,
.custom-select {
    border: 1px solid var(--success);
}

option:hover,
option:focus {
    background: var(--success) !important;
}

.form-control:active,
/* .form-control:hover, */
.form-control:focus,
.custom-select:active,
/* .custom-select:hover, */
.custom-select:focus {
    border: 1px solid var(--success);
    box-shadow: var(--shadow) 0px 0px 0px 3.5px,
        var(--shadow) 0px 0px 0px 3.5px,
        var(--shadow) 0px 0px 0px 3.5px !important;
}

.input-group-text {
    width: 70px !important;
    border: 1px solid var(--success);
    border-left: none;
    background: white;
    justify-content: center;
}

.input-group input {
    border-right: none;
}

th {
    text-align: center;
}

.dark {
    background: var(--dark);
    color: white;
}

.dark .card {
    background: var(--dark);
    color: white;
}

.dark .btn:hover,
.dark .btn:active {
    color: rgb(50, 50, 50) !important;
}

.dark table {
    color: white;
}

.dark a {
    background: var(--dark);
    color: white;
}

.dark input,
.dark input:hover,
.dark input:focus,
.dark input:active,
.dark select,
.dark select:hover,
.dark select:focus,
.dark select:active,
.dark textarea,
.dark textarea:active,
.dark textarea:hover,
.dark textarea:focus {
    background: var(--dark);
    color: white;
    border: 1px solid var(--success);
}

.dark .form-control[readonly] {
    background: #636363;
}

.dark .custom-select[disabled] {
    background: #636363;
}

.dark .input-group .input-group-text {
    background: var(--dark) !important;
    color: white !important;
}

.dark .modal-content {
    background: var(--dark);
    color: white;
}

.dark .card-header,
.dark .card-footer,
.dark .card .card-body .table table {
    background: var(--dark);
    color: white;
}

.dark div table tbody tr:hover {
    color: #fff;
}

.dark .footer hr {
    background: #fff;
}

sup {
    padding-left: 5px;
    padding-right: 5px;
    background: red;
    color: black;
    border-radius: 50%;
}

li {
    cursor: default !important;
}

.my-custom-scrollbar {
    position: relative;
    height: 50vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
.nav-link {
    color: black;
}

.dark .nav-link {
    color: white;
}
.dark .nav-link:hover {
    color: white;
}

.nav-link:hover {
    color: black;
}

.nav-link.active {
    color: white !important;
    background: var(--success) !important;
}

.text-danger {
    border-radius: 50% !important;
}

.text-danger:hover {
    border: 1px solid red;
}

label {
    margin: 5px 0px;
}